[submodule "BareBones/vendor/spdlog"]
	path = BareBones/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "BareBones/vendor/GLFW"]
	path = BareBones/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
